---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Allow all crawlers
User-agent: *
Allow: /

# Disallow crawling of specific folders
# Disallow: /admin/

# Point to your sitemap
Sitemap: {{ site.url }}/sitemap.xml